/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
}

.success-snackbar {
    background-color: #4caf50;
    color: white;
    font-weight: 500;
    top: 50% !important;
    transform: translateY(-50%);
    left: 50%;
    transform: translate(-50%, -50%);
}

.error-snackbar {
    background-color: #f44336;
    color: white;
    font-weight: 500;
}